.jumbotron {
  font-family: "Gill Sans", "Gill Sans MT", Frutiger, "Frutiger Linotype", Univers, Calibri, Helvetica, Arial, sans-serif;
}
.logo {
  display: block;
  max-width: 450px;
  width: 100%;
  margin: auto;
  opacity: 0.1;
}
